<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Categories</label>
          <input placeholder="Enter category name here" type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="button" (click)="onAdd()">Add CategoryModel</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-success" type="button" (click)="onClear()">Clear</button>
          <button class="btn btn-primary" type="button" (click)="onEdit()" *ngIf="editMode">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
