<qrcode [qrdata]='myAngularxQrCode' [size]="256" [level]="'M'"></qrcode>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item">
        {{ quizModel.title }}

        <tr *ngFor="let ans of quizModel._questions">
          <label><b>QUESTION</b></label>
          <p> {{ ans.theQuestion }}</p>
          <p *ngFor="let caca of ans._answers">
            <input type="radio" >
            {{caca.theAnswer}}
        </tr>
      </li>
    </ul>
  </div>
</div>
<button type="submit" class="btn-success" onclick="submitAnswers()">Submit</button>
