<div class="row">
  <div class="col-xs-12">
    <h4>{{ post.title }}
      <span class="pull-right">
       {{post.author}}
        <p>{{post.date}}</p>
      </span>
    </h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    {{ post.description }}
  </div>
  <button *ngIf="authService.isAdmin()" type="button" class="btn btn-success" (click)="onDelete()">Delete</button>
  <!--<button *ngIf="authService.isAdmin()" type="button" class="btn btn-success" (click)="onModify()">Modifyaawwaaea</button>-->
  <button *ngIf="authService.isAdmin()" class="btn btn-primary nav-item nav-link-edit" (click)="onModify()">Modify</button>

</div>
