<div class="row">
  <div class="col-xs-12">
    <app-user-edit></app-user-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item clearfix"
        style="cursor: pointer"
        *ngFor="let category of categories; let i = index"
        (click)="onEditItem(i)"
      >
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ category.name }}</h4>
          <p></p>
        </div>
        <span class="pull-right">
                <button class="btn btn-success" (click)="goToQuiz()"> Quizzes</button>

        </span>
      </a>
    </ul>
  </div>
</div>

